*{
    box-sizing: border-box;
}

body{
    margin: 0;
    height: 100vh;
}

/* ---LAYOUT--- */
.grid-site-container{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px auto 100px;
}

.main-header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
    grid-column:  1/1;
    grid-row: 1/1;
}

.main-content{
    min-width: 860px;
    display: grid;
    justify-self: center;
    grid-template-rows: 10% 90%;
    grid-column: 1/1;
    grid-row: 2/2;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.main-footer{
    grid-column: 1/1;
    grid-row: 3/3;
}

/* ---HEADER--- */

.header-container{
    min-width: 860px;
    height: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.main-nav{
    width: 70%;
   justify-self: right;
}

.nav-links {
   display: flex;
   justify-content: space-between;
   align-items: center;
   list-style: none;
}

.link a {
    text-decoration: none;
    color: grey;
}


/* ----GALLERY---- */

.search-header{
    display: grid;
    grid-template-columns: 30% 70%;
    justify-content: center;
    align-items: center;
}

.search-keywords{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gallery-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px,1fr));
    gap: 10px 10px;
}

.gallery-container img {
    width: 100%;
}