*{
    box-sizing: border-box;
}

html{
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    margin: 0;
    height: 100vh;
    transition: background-color .7s;
}


/* ---LAYOUT--- */
.grid-site-container{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px auto 150px;
}

.main-header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #353535;
    grid-column:  1/1;
    grid-row: 1/1;
}

.main-content{
    width: 70%;
    display: grid;
    justify-self: center;
    grid-template-rows: 10% 90%;
    grid-column: 1/1;
    grid-row: 2/2;
    /* display: none; */
}

.meme-editor-container{
    width: 70%;
    justify-self: center;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 20px 0;
    display: none;
}

.saved-memes-gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px,1fr));
    gap: 10px 10px;
    display: none;
}

.main-footer{
    background-color: #353535;
    grid-column: 1/1;
    grid-row: 3/3;
    color: lightgray;
}

/* ---HEADER--- */

.header-container{
    width: 70%;
    height: 100%;
    display: grid;
    grid-template-columns: 25% 65% 10%;
    align-items: center;
}

.menu-btn{
    background-color: #353535;
    color: lightgray;
    border: none;
    width: 3rem;
    font-size: 2rem;
    display: none;
}

.logo a{
    font-size: 1.8rem;
    color: #dcd7d7;
    text-decoration: none;
    transition: color .7s ease-out;
}

.logo a:hover {
    color: white;
}

.main-nav{
    width: 70%;
   justify-self: right;
}

.nav-links {
   display: flex;
   justify-content: space-between;
   align-items: center;
   list-style: none;
}

.link a {
    text-decoration: none;
    color: rgb(157, 157, 157);
    transition: color .7s ease-out;
}

.link a:hover{
    color: ghostwhite;
}

.link a:focus {
    color: white;
}
/* ----GALLERY---- */

.search-header{
    display: grid;
    grid-template-columns: 30% 70%;
    justify-content: center;
    align-items: center;
}

.search-input {
    position: relative;
}
.search-input input{
    width: 75%;
    border: none;
    background-color: #ffffff;
    border-bottom: 1.5px solid rgb(36, 36, 36);
    font-size: 0.7rem;
}

.search-input input:focus {
    outline: none;
}

.search-keywords span{
    cursor: pointer;
    font-size: 12px;
}

.search-input i{
    position: absolute;
    top: 0;
    right: 25%;
}

.gallery-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px,1fr));
    grid-auto-flow: dense;
    gap: 19px 5px;
    padding-bottom: 50px;
}

.gallery-container img {
    width: 100%;
    cursor: pointer;
    border-radius: 10px;
}

/* ---CANVAS--- */

#my-canvas{
    background-color: rgb(224, 224, 224);
}

.editor-container{
    display: grid;
    grid-template-rows: 50px 1fr 150px;
}

.editor-container .text-editor{
    font-size: 1rem;
    transition: outline .7s;
}

.editor-container .text-editor:focus {
    outline: rgb(38, 38, 38);
}

.control-box{
    margin: 5% auto;
    width: 50%;
    display: grid;
    grid-template-rows: repeat(5,1fr);
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
.control-box button {
    border-radius: 10px;
    border: 1px solid lightslategray;
    background-color: rgb(242, 234, 234);
    cursor: pointer;
    transition: background-color .7s;
}

.control-box button:hover,.control-box select:hover{
    background-color:rgb(41, 41, 41) ;
    color: whitesmoke;
}

.control-box .delete-line {
    grid-column: 2/3;
    grid-row: 2/3;
}

.control-box .font-size-up{
    grid-column: 1/2;
    grid-row: 3/4;
}
.control-box .font-size-down{
    grid-column: 3/4;
    grid-row: 3/4;
}
.control-box .text-align-left{
    grid-column: 1/2;
    grid-row: 4/5;
}
.control-box .text-align-right{
    grid-column: 3/4;
    grid-row: 4/5;
}
.control-box .text-align-center{
    grid-column: 2/3;
    grid-row: 4/5;
}
.control-box .font-color{
	border: none;
    height: 100%;
    grid-column: 1/2;
    grid-row: 5/6;
    cursor: pointer;
}
.control-box .font-color:focus{outline: none;}

.control-box select{
    cursor: pointer;
    background-color: rgb(242, 234, 234);
    grid-column: 3/4;
    grid-row: 5/6;
    transition: background-color .7s;
    text-transform: uppercase;
}

.share-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
}

.share-container button {
    width: 40%;
    height: 20%;
    border: 1px solid lightslategray;
    cursor: pointer;
    transition: background-color .7s;
    border-radius: 5px;
}
.share-container .save-btn{
    background-color: rgb(116, 118, 112);
    color: beige;
}
.share-container .save-btn:hover{background-color: rgb(23, 22, 22);}

.share-container .share-btn{
    background-color: rgb(147, 171, 222);
    color: beige;
}
.share-container .share-btn:hover{background-color: rgb(35, 43, 91);}

a.btn {
    width: 40%;
    height: 20%;
    border: 1px solid lightslategray;
    cursor: pointer;
    transition: background-color .7s;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    color: beige;
    background-color: rgb(147, 171, 222);
    line-height: 25px;
    font-size: 0.7rem;
}
/* ---SAVED MEMES--- */

.saved-memes-gallery img {
    width: 100%;
    cursor: pointer;
}

/* ---FOOTER--- */

.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 20px auto;
}

.footer-container small {
    margin: 10px 0;
}

.footer-nav{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.footer-nav li >* {
    color: lightgray;
}

@media screen and (max-width:1150px){
   .gallery-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px,1fr));
    grid-auto-flow: dense;
    gap: 19px 5px;
    padding-bottom: 50px;
   }
}

@media screen and (max-width:742px){
    .gallery-container{
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(80px,1fr));
     grid-auto-flow: dense;
     gap: 19px 5px;
     padding-bottom: 50px;
    }
 }

 @media screen and (max-width:680px){
     html{
         font-size: 12px;
     }
     .grid-site-container{
       grid-template-rows: 100px 1fr 150px;
     }
    .gallery-container{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(80px,1fr));
        grid-auto-flow: dense;
        gap: 19px 5px;
        padding-bottom: 50px;
       }
       body.dark{
           background-color: rgba(0, 0 , 0, 0.5);
       }
       body.menu-open .nav-links {
           transform: translateX(25%);
           display: flex;
           align-items: flex-start;
           box-shadow: -4px 0px 15px 0px #dcdcdc;
           height: 100%;
           justify-content: space-around;
           z-index: 2;
           background-color: #353535;
           margin-top: 0;
           width: 100%;
           font-size: 1.6rem;
        }
       .menu-btn{
           display: block;
           cursor: pointer;
           z-index: 3;
       }
       .menu-btn:focus{
           outline: none;
       }
       .nav-links{
        align-items: flex-start;
        justify-content: space-around;
        background-color: #353535;
        margin-top: 0;
        font-size: 1.6rem;
        height: 100%;
        width: 100%;
        position: fixed;
        right: 0;
        top: 0;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform .8s, box-shadow .8s;
       }
       .meme-editor-container{
        justify-content: center;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
       }
       .editor-container{
        width: 100%;
        margin-top: 1rem;
       }
 }